
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    background: #250057;

    /* font */

        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3vw .8vw;
    background: #fff;
    border-radius: .3vw;
}

.input-box input{
    width: 100%;
    padding: .8vw 0;
    border: none;
    outline: none;
    font-size: 1.5vw;
    background: #fff;
    display: flex;
    align-items: flex-start;
    color: #555;
}

.input-box img{
    width: 2.2vw;
    cursor: pointer;
}

